#app {
    width: 100%;
    height: auto;
    nav{
        width: calc(100% - 240px);
        height: 60px;
        // 背景透明
        background-color: transparent;

        color: var(--nav_color);
        display: flex;
        align-items: center;
        padding: 0 120px;
        // 设置顶部导航栏浮动以及最左上点
        position: fixed;
        top:0;
        left: 0;
        z-index: 10;
        .left{
            width: 60%;
        }
        .right{
            width: 40%;
            display: flex;
            justify-content: right;

            a:nth-of-type(-n+2){
                margin-right: 20px;
                cursor: pointer;
            }
        }
        a{
            color: var(--nav_color);
            margin-right: 20px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    header{
        height: 500px;
        >.dynamic_shuffl{
            height: 500px;
            position: absolute;
            overflow: hidden;
            // 过渡动画
            transition: all 1s;
            opacity: 0;
            &:first-child{
                opacity: 1;
            }
            img{
                width: 1690px;
                position: relative;
                top: -200px;
            }
        }
    }
    main{
        width: calc(100% - 240px);
        padding: 60px 120px;
        min-height: 1500px;
        background-color: var(--main_bg);
        color: var(--main_color);
        justify-content: center;
        .main{
            width: 1200px;
            min-height: 200px;
            display: flex;
            justify-content: space-between;
            .left{
                .card{
                    padding: 20px 20px 10px 10px;
                }
                
                width: 69%;
                height: 100px;
                .que_article > .body{
                    background-color: transparent;
                    >ul{
                        width: 100%;
                        >li{
                            width: 100%;
                            display: flex;
                            background-color: white;
                            .img{
                                width: 30%;
                                box-sizing: border-box;
                                padding: 10px 10px 20px 20px;
                                img{
                                    width: 130px;
                                    &:hover{
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            .text{
                                position: relative;
                                width: 70%;
                                padding: 10px 20px 20px 10px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                .article_info{
                                    font-size: 14px;
                                    color: #555;
                                }
                                h2{
                                    font-size: 23px;
                                }
                                p{
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                > button {
                                    position:absolute;
                                    right: 0;
                                    bottom:0;
                                    border: 0;
                                    border-radius: 5px;
                                }
                            }
                } 
            }
                >div{
                    margin-bottom: 20px;
                }
            }}

            .card{
                .title{
                    border-radius: 5px 5px 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #26ce26;
                    padding: 20px 20px 10px 10px;
                    background-color: white;
                    h2{
                        font-size: 20px;
                        flex-grow: 1; /* 让 h2 元素占据剩余空间 */
                    }
                    
                }
                .body{
                    border-radius: 0 0 5px 5px;
                    padding: 10px 20px 20px 20px;
                    background-color: white;
                }
            }
            .right{
                
                width: 30%;
                height: 100px;
                background-color: white;
                >div{
                    margin-bottom: 20px;
            }
            .tags>.body{
                position: relative;
                ul{
                    padding-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    @keyframes move_box {
                        0%{left:0;
                        top: 0;}
                        25%{left:calc(100% - 20px);
                        top:0;}
                        50%{top: calc(100% - 20px);
                            left:calc(100% - 20px);}
                        75%{left: 0px;
                            top: calc(100% - 20px);
                        }
                        100%{
                            left:0;
                        top: 0;
                        }
                    }
                    &::before {
                        position: absolute;
                        top: 0px;
                        left: 10px;
                        display: block;
                        width: 20px;
                        height: 20px;
                        content: "";
                        background-color: #ff9800;

                        -webkit-animation-name:move_box;
                        animation-name: move_box;
                        -moz-animation-duration: 5s;
                        animation-duration: 5s;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count:infinite;

                    }
                    // 关键帧动画
                    
                    // .move_box {
                    //     -moz-animation-duration: 3s;
                    //     -webkit-animation-duration: 3s;
                    //     animation-duration: 3s;
                    //     -moz-animation-name: move_box;
                    //     -webkit-animation-name: move_box;
                    //     animation-name: move_box;
                    //     -moz-animation-iteration-count: 3;
                    //     -webkit-animation-iteration-count: 3;
                    //     animation-iteration-count: 3;
                    //     -moz-animation-direction: alternate;
                    //     -webkit-animation-direction: alternate;
                    //     animation-direction: alternate;
                    //   }
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 33%;
                        height: 33px;
                        box-sizing: border-box;
                    &:nth-child(6n+1),&:nth-child(6n+2),&:nth-child(6n+3){
                            background-color: #f5f5f5;
                    }
                    &:nth-child(3n+1),&:nth-child(3n+2),&:nth-child(3n+3){
                        border-left: 1px solid black;
                }
                }
                }
            }
            }
        }
    }
    footer{
        width: 100%;
        min-height: 120px;
        display: flex;
        background-color: var(--footer_bg);
        color:var(--footer_color);
        //行间距设置
        p{
            padding: 7px 0;
        }
        .left{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .right{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact{
                display: flex;
                justify-content: center;
                >div{
                    position: relative;
                    .qq{
                        position: absolute;
                        width: 80px;
                        top:-20px;
                        left:-14px;
                        opacity: 0;
                        transition: 0.4s;
                    }
                    .svg{
                        width: 40px;
                        z-index: 1;
                        position: relative;
                        &:hover{
                            & ~ .qq{
                                top:-83px;
                                left: -14px;
                                opacity: 1;
                                
                            }
                        }

                    }
                }
            }
        }
        .thank{
            color: #26ce26;
            font-size: 20px;
        }
        .site_info{ 
            display: flex;
            span{
                margin-right: 15px;
                display: flex;
                align-items: center;               
                img{
                    margin-right: 10px;
                }
            }
        }
        .version{
            display: flex;
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                color:#26ce26;
                background-color: black;
                height: 30px;
                width: 60px;
                &:nth-child(1){
                    background-color: #ff9800;
                    border-radius: 5px 0 0 5px;
                }
                &:nth-child(2){
                    background-color: #1ee7bc;
                    border-radius: 0 5px 5px 0;
                }
            }
            
        }
    }
}